@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    @apply bg-background text-on-background antialiased min-h-screen flex flex-col;
    font-family: 'Inter', sans-serif;
  }
  h1, h2, h3, h4, h5, h6, .font-headline {
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
}

/* Custom styles */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
